@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2 col-md-offset-5 login-panel">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
        <div id="status">
        </div>
    </div>
</div>
